code {
  display: inline-block;
  padding: 0 4px;
  color: var(--muidocs-palette-text-primary, #1C2025);
  background-color: var(--muidocs-palette-grey-50, #F3F6F9);
  border: 1px solid;
  border-color: var(--muidocs-palette-grey-200, #DAE2ED);
  border-radius: 5px;
  font-size: 0.8125rem;
  direction: ltr;
}

.selected-fragment {
  color: white;
  background-color: rgb(109, 135, 237);
  border: none;
}

.Fragment {
  transition: 140ms;
}

.LevelPreviewTab {
  &-Fragment {
    &_isError {
      // Error style
    }
  }
}

.neighbors {
  color: white;
  background-color: rgb(143, 143, 172);
  border: none;
}

.ready-fragment {
  background-color: rgb(224, 237, 224);
  border-color: rgb(205, 220, 205);
}

.not-ready-fragment {
  background-color: #ecdfdf;
  border-color: #ceb4b4;
}

.viewport {
  display: block;
  width: calc(100% - 2em);
  min-height: 400px;
  position: relative;
  padding: 1em;
  border: 1px solid lightgray;
  user-select: none;

  & > * {
    position: absolute;
    height: 100%;
    width: calc(100%);
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
  }
}

.GroupList {
  &-Item {
    cursor: pointer;

    &::before {
      display: inline-block;
      content: '';
      width: 8px;
      height: 8px;
      margin-left: 4px;
      background-color: red;
      border-radius: 50%;
    }

    &_isReady::before {
      background-color: green;
    }

    &_isHovered {
      background-color: lightgray;
    }

    &_isActive {
      background-color: gray;
    }
  }
}

li.active {
  background-color: lightgray;
}

.workspace {
  display: flex;
  flex-direction: row;
}

#toolbar {
  opacity: 0.6;
  transition: 120ms;
  transform: scale(0.75);
  &:hover {
    opacity: 1;
    transform: scale(1);
  }
}
